@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.section {
  padding-top: 30px;
}

.card-col {
  display: flex;
  margin-bottom: 24px;
}

.card {
  align-items: stretch;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.button {
  align-items: center;
}

.social {
  margin-left: 5px;
  margin-right: 5px;
}

.card-button {
  align-self: center;
  width: 50%;
  margin-bottom: 10px;
}

.line {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }


#about {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}

#projects {
  margin-left: 20%;
  margin-right: 20%;
}

#contact {
  margin-bottom: 30px;
}
